# Reversing a string

## sliced operation

In [1]:
strng_1 = "I am a Data Scientist"
strng_1[::-1]

'tsitneicS ataD a ma I'

## Inbuilt Function

In [11]:
# reversed() can be use to reverse the string
# the string strng_1 will be revered and join() function will seperate the strng_1 with ''

print(''.join(reversed(strng_1)))
print(' '.join(reversed(strng_1)))

# Here every letter in strng_1 is separrated by Aman and is reversed
print('Aman'.join(reversed(strng_1)))

tsitneicS ataD a ma I
t s i t n e i c S   a t a D   a   m a   I
tAmansAmaniAmantAmannAmaneAmaniAmancAmanSAman AmanaAmantAmanaAmanDAman AmanaAman AmanmAmanaAman AmanI

In [10]:
# join function 
print(' '.join("Aman"))

A m a n

In [13]:
# we can convert it in list

print(list(reversed(strng_1)))

['t', 's', 'i', 't', 'n', 'e', 'i', 'c', 'S', ' ', 'a', 't', 'a', 'D', ' ', 'a', ' ', 'm', 'a', ' ', 'I']

In [19]:
# reversing string with for loop 

for alphabets in list(reversed(strng_1)):
    print(alphabets, end="")

tsitneicS ataD a ma I

### Removing spaces from the string

In [27]:
# using strip() funtion we can remove spaces at beginign and end of string

strng_2 = " My name is Aman Vishwakarma "
strng_2.strip("")

' My name is Aman Vishwakarma '

In [28]:
# using lstrip() function we can remve the space in the left end of string

strng_2.lstrip(" ")

'My name is Aman Vishwakarma '

In [29]:
# using rstrip() function we can remove the space in the right end of string

strng_2.rstrip(" ")

' My name is Aman Vishwakarma'

### Replacing words of string

In [38]:
# Using list and for loop.

strng_3 = "Hey i am learning python"
lst_1 = strng_3.split(" ")
lst_1[1] = "We"
lst_1[2] = "are"
for word in lst_1:
    print(word, end=" ")

Hey We are learning python

In [56]:
# Using replace() function
# repalce("a","b"), here "a" is which word is to be replaced and "b" is the replacement word

strng_3.replace("Hey","Hii")

'Hii i am learning python'

### Replacing words in string with list as we cannot do it directly because string is immutable

In [51]:
# Using a loop and list
strng_4 = "I am a robot"
lst_2 = list(''.join(strng_4))
lst_2[7] = "A"
lst_2[8] = "."
lst_2[9] = "I"
lst_2[10] = ""
lst_2[11] = ""
for elements in lst_2:
    print(elements, end="")

I am a A.I

In [58]:
# using replce() function.

strng_4.replace("I","G")

'G am a robot'

In [63]:
## \t with expandtabs(), use to give space. 
## epandtabs() will detect the \t wherever it is present and than will give space there

print("Hello guys")
print("Hello \tguys".expandtabs())
print("\tHello \tguys".expandtabs())

Hello guys
Hello   guys
        Hello   guys

In [70]:
#### Practice Question_1 (replace Dat with Data and cience with Science) 
#### Method_1

str_1 = "Welcome to pwskills, welcome to Dat cience Masters"
update_1 = str_1.replace("Dat","Data") 
update_2 = update_1.replace("cience","Science")
update_2

'Welcome to pwskills, welcome to Data Science Masters'

In [ ]:
#### Method_2

str_1 = "Welcome to pwskills, welcome to Dat cience Masters"
str_1.replace("Dat","Data").replace("cience","Science")

In [79]:
#### Method_3

lst_3 = str_1.split(" ")
lst_3[5] = "Data"
lst_3[6] = "Science"
for words in lst_3:
    print(words,end=" ")

Welcome to pwskills, welcome to Data Science Masters

In [ ]:
##### MS-Word find and replace word fucntionality    
data = input("Write you text here")
updated_data = data.replace(input("Find"),input("replace with"))
print(updated_data)

In [5]:
## some functions for string

strng_2 = "Hi this is Data Sceintist here"

In [6]:
## isupper()

strng_2.isupper()

False

In [8]:
## islower()

strng_2.islower()

False

In [10]:
## isspace()

strng_2.isspace()

False

In [11]:
## endswith()

strng_2.endswith("e")

True

In [12]:
## startswith()

strng_2.startswith("H")

True

In [13]:
## isalnum()

strng_3 = "Aman_1234"
strng_3.isalnum()

False

In [51]:
## len()
len(strng_3)

9

In [61]:
## len() using for loop

num = 0
for i in list("".join(strng_3)) :
    num = num+1
print(num)

9

In [87]:
## use of index to iterate string in reverse format
strng_5 = "Aman Vishwakarma"
num = 0
for i in range(len(strng_5)):
    print(strng_5[15-i])

a
m
r
a
k
a
w
h
s
i
V

n
a
m
A

In [103]:
## To check whether the character is vowel or not in given string and print that vowel with index.
 
strng_6 = input("Enter the text here")
vowels = "AaEeIiOoUu"
for characters in strng_6:
    if characters in vowels:
        print(characters)

Enter the text here HI

I

# Data Structure: 2 - LIST

In [104]:
# we define list by []

type([])

list

In [106]:
# example of list

list_1 = ["Aman","Vishwakarma","Data Scientist",21]
print(list_1)

['Aman', 'Vishwakarma', 'Data Scientist', 21]

In [108]:
#  it is muttable

list_1[0]="Ajay"
list_1

['Ajay', 'Vishwakarma', 'Data Scientist', 21]

In [116]:
## We can convert string to list

string_1 = "Hi robot here"
list_2 = list(string_1)               ## Each alphabet as element of list
print(list_2)
list_3 = string_1.split(" ")          ## Each word as element of list
print(list_3)
list_4 = list(string_1.split(' '))    
print(list_4)

['H', 'i', ' ', 'r', 'o', 'b', 'o', 't', ' ', 'h', 'e', 'r', 'e']
['Hi', 'robot', 'here']
['Hi', 'robot', 'here']

In [126]:
## Sliced operation in LIST i same as of STRING

print(list_1[0])
print(list_1[2])
print(list_1[1:3])
print(list_1[2:3])
print(list_1[-1])
print(list_1[-3])
print(list_1[1:])
print(list_1[:3])
print(list_1[::-1])     ## Reversing List
print(list_1[0:3:2])    ## [a:b:c], "a" is starting index, "b" is last index and "c" is step size

Ajay
Data Scientist
['Vishwakarma', 'Data Scientist']
['Data Scientist']
21
Vishwakarma
['Vishwakarma', 'Data Scientist', 21]
['Ajay', 'Vishwakarma', 'Data Scientist']
[21, 'Data Scientist', 'Vishwakarma', 'Ajay']
['Ajay', 'Data Scientist']

In [129]:
## concatenatin operation in list

print(list_1 + ["Python", "Tableu", 30])

['Ajay', 'Vishwakarma', 'Data Scientist', 21, 'Python', 'Tableu', 30]

In [142]:
## List inside list/ multi concactinated list

list_5 = [["Aman", "Ajay", "Rohit", "jay"], ["vishwakarma", "jadhav", "thorat", "prajpati"],['Data',['Scientist', 'Analyst', 'Engineer']],[21,22,23,24]]
type(list_5)

list

In [146]:
## Iteration through this list

print(list_5[0][2], list_5[1][2], ',' , list_5[2][0], list_5[2][1][2] , ',', list_5[3][2])

Rohit thorat , Data Engineer , 23

In [ ]:
## function for list

list_7 = ["Zebra","Monkey","Donkey","Elephant","Lion"]
list_8 = [1,2,3,5,6,7,90,2343,5453]

print(max(list_7))       ## Here ASCII of characters is compared and evaluated
print(max(list_8))
print(min(list_7))
print(min(list_8))
print((list_7))

Zebra
5453
Donkey
1
['Zebra', 'Monkey', 'Donkey', 'Elephant', 'Lion']

In [14]:
## append() is used to add element at the end of list only one element.

In [41]:
list_7.append("Tiger")
list_7

['Zebra', 'Tiger', 'Tiger', 'Tiger', 'Tiger']

In [ ]:
## extend() is used to add element at the end of list more than one element is possible.

In [61]:
list_7.extend(["Cow","Dear","Buffalo"])
list_7

['Zebra', 'Tiger', 'Tiger', 'Cow', 'Dear', 'Buffalo']

In [42]:
## pop() is used to remove element from list by default it's index is -1

list_7.pop()
print(list_7)

list_7.pop(2)

['Zebra', 'Tiger', 'Tiger', 'Tiger']

'Tiger'

In [ ]:
## Sorting and reverse method in list

In [45]:
### reversing through sliced operation
list_9 = ['a','e','i','o','u']
print(list_9)
print(list_9[::-1])

['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

In [48]:
### through reverse() funtion

list_9.reverse()
print(list_9)

['u', 'o', 'i', 'e', 'a']

In [60]:
## Ascending and decending order

list_9.sort()     ## Ascending by default
print(list_9)

list_9.sort(reverse=True)  ## Decending order
print(list_9)

['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

## Nested List

In [62]:
l_1 = [1,2,3,4]
l_2 = [5,6,7,8]
l_3 = [9,10,11,12]

matrix = [l_1,l_2,l_3]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [64]:
## List comprehension

[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [67]:
## Even numbrt
[i if i%2 == 0 else " " for i in range(20)]

[0,
 ' ',
 2,
 ' ',
 4,
 ' ',
 6,
 ' ',
 8,
 ' ',
 10,
 ' ',
 12,
 ' ',
 14,
 ' ',
 16,
 ' ',
 18,
 ' ']

In [ ]:
## practice question_1

In [112]:
## Using loop
num_list = [1,2,3,4,5,6,7,8]

sum_of_even = 0

for i in num_list:
    if i%2 == 0 :
        sum_of_even = i + sum_of_even
        
print("Sum of even number in list is {} and  ".format(sum_of_even))

sum_of_odd = 0
for j in num_list:
      if j%2 != 0:
        sum_of_odd = j + sum_of_odd
print("sum of odd number in list is {}".format(sum_of_odd))

Sum of even number in list is 20 and
sum of odd number in list is 16

In [120]:
## using list comprehension

even_sum = sum([i for i in num_list if i%2 == 0])
odd_sum = sum([j for j in num_list if j%2 != 0])
print(even_sum)
print(odd_sum)

20
16

In [126]:
## practice question_2 (Square of all m=number in list)

num_list_2 = [1,2,3,4,5,6,7,8,9,10]
[pow(i,2) for i in num_list_2 ]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [129]:
## practice question_3 (create the list of only positive number)

num_list_3 = [-2,-1,0,1,2,3,4]
[i  for i in num_list_3 if i>0]

[1, 2, 3, 4]

In [132]:
## practice question_4 (Create a list of only first letter of elements in list)

words = ['apple', 'banana', 'cherry', 'date']
[word[0] for word in words]

['a', 'b', 'c', 'd']

In [135]:
## practice question_5 (convert list element from degree to fahrenheit)

celcius_temperature = [0,10,20,30,40,50]
fahrenheits_temperature = [((9/5)*tem)+32 for tem in celcius_temperature ]
fahrenheits_temperature

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [161]:
## Flatten a list of lists in to single list

lists = [[1,2,3],[4,5,6],[7,8,9]]
[j for i in lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
## Assigment question_1
### Create the lsit of only prime numbers from the given list using both code and comprehensive method

In [258]:
#### Code
numbers_1 = [1,2,3,4,5,6,7,8,9,10]
ansList = []
 
for num in numbers_1 :
     if num == 0 or num == 1 :
        continue
        for i in range(2, num // 2 + 1) :
            if num % i == 0 :
                break
        else :
            ansList.append(num)
if len(ansList) :
     
    print("Prime Number : ",end = "-> ")
    for ans in ansList :
        print(ans, end = ", ")
     
    else :
        print("No any number from the given list is Prime")

In [ ]:
## Assigment question_2
#### create a list of all possible combination of 2 elements from a list.

numbers_2 = [1,2,3,4,5]

In [16]:
numbers_2 = [1,2,3,4,5]
[(i,j) for i in numbers_2 for j in numbers_2 ]

[(1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5)]