# This is second day of learning PYTHON.

## Print Statement

In [1]:
#print
print("Hi this is aman")

Hi this is aman

In [6]:
## print with varibale format 1
age=21
print("My age is:",age)

My age is: 21

In [7]:
## print with varibale format 2 (f string)
print(f"My age is: {age}")

My age is: 21

In [8]:
## print with variables format 3 (format())
name = "Aman"
Surname = "Vishwakarma"
age = 21
print("My name is {} {} and my age is {}".format(name,Surname,age))

## Here oder is important in format

My name is Aman Vishwakarma and my age is 21

In [9]:
## print with variables format 4 (format()) with placeholder
name = "Aman"
Surname = "Vishwakarma"
age = 21
print("My name is {firstname} {Lastname} and my age is {Firstage}".format(Firstage=age,Lastname=Surname,firstname=name))

## Here order is not important because of placeholder

My name is Aman Vishwakarma and my age is 21

In [10]:
## print practice question attempt1

age = 21
name = "Aman Vishwakarma"
degree = "BSc Maths"
print("My age is {Myage} , I had completed my degree of {Mydegree} with name {Myname} on it".format(Myname=name,Myage=age,Mydegree=degree))

My age is 21 , I had completed my degree of BSc Maths with name Aman Vishwakarma on it

In [11]:
## print practice question attempt2

print(f"My age is {age} , I had completed my degree of {degree} with name {name} on it")

My age is 21 , I had completed my degree of BSc Maths with name Aman Vishwakarma on it

## if statement

In [15]:
age =int(input("Enter your age"))        
if age >= 18 :
    print("you are eligible to vote")
     
    """ 
    By default the data type of input() is string.
    To use is for age we had used typecasting.
    """

Enter your age 30

you are eligible to vote

In [29]:
## Practice quesion on if statement

age = int(input("Enter your age"))
if age >= 18 and age <= 45 :
    print("You are young blood")

Enter your age 46

## If else statement

In [20]:
age = int(input("Enter youe age"))
if age >= 18 :
    print('You are eligible to vote')
else :
    print('You are not eligible to vote')

Enter youe age 12

You are not eligible to vote

In [36]:
## Practice question 1 on if else statement

PP = int(input("Enter the price of product"))    # PP is Product Price
if PP > 1000 :
                                     
        print(f"You have to pay {PP-(0.2*PP)} after 20% Discount")
else:  
      
        print(f"You have to pay {PP-(0.3*PP)} after 30% Discount")

Enter the price of product 1000

You have to pay 700.0 after 30% Discount

## elif statement

In [42]:
## Practice question 2 on if else statement

PP = int(input("Enter the price of product"))    # PP is Product Price
if PP > 3000 :
                                     
        print("You have to pay {} after 20% Discount".format(PP-(0.2*PP)))
        
elif PP >= 2000 and PP <= 3000 :  
      
        print("You have to pay {} after 30% Discount".format(PP-(0.3*PP)))
        
elif PP >= 1000 and PP < 2000 :  
      
        print("You have to pay {} after 40% Discount".format(PP-(0.4*PP)))
        
else:
        print("You have to pay {} after 50% Discount".format(PP-(0.5*PP)))

Enter the price of product 455667

You have to pay 364533.6 after 20% Discount

In [50]:
## Practice question 3 on elif and nested if statement.

PP = int(input("Enter the price of product"))    # PP is Product Price
if PP > 3000 :
                                     
        print("You have to pay {} after 20% Discount".format(PP-(0.2*PP)))
if PP > 4000 :
        print("Congratulation you won a trip to GOA")
        
elif PP >= 2000 and PP <= 3000 :  
      
        print("You have to pay {} after 30% Discount".format(PP-(0.3*PP)))
        
if PP == 2999 :
        print("You won a suitecase")
        
elif PP >= 1000 and PP < 2000 :  
      
        print("You have to pay {} after 40% Discount".format(PP-(0.4*PP)))
        
else:
        print("You have to pay {} after 50% Discount".format(PP-(0.5*PP)))

Enter the price of product 2999

You have to pay 2099.3 after 30% Discount
You won a suitecase

# Loops

## While loop

In [12]:
## while loop

joining_age = 24
while joining_age < 60 :
    joining_age = joining_age+1
    print(joining_age)

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61

In [13]:
# While loop with else satetement

joining_age = 24
while joining_age <= 60 :
    joining_age = joining_age+1
    print(joining_age)
else :
    print("It's the time to retire")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
It's the time to retire

In [15]:
# While loop practice question 1

total_amount = 2000
while total_amount != 0 :
    print(total_amount)
    total_amount = total_amount - 100
else:
    print("Money Exhausted")

2000
1900
1800
1700
1600
1500
1400
1300
1200
1100
1000
900
800
700
600
500
400
300
200
100
Money Exhausted

## for Loop

In [22]:
# for loop with list

L = [1,2,3,"Aman","Vijay",4,5]
for x in L:
    print(x)

1
2
3
Aman
Vijay
4
5

In [23]:
# for loop example 2

fruit = 'Mango'
for x in fruit :
    print(x)

M
a
n
g
o

In [24]:
fruit[4]

'o'

In [35]:
"""
range
range(start,stop,step)
step is determine the gap between consecutive terms
by ddefault it is 1.
"""
for i in range(1,10,2):
     print(i)

1
3
5
7
9

## Nested Loop

In [66]:
# Patterns (Square) using nested loop 1

n=8
for i in range(0,n):
     for j in range(0,n):
            print("*",end=" ")
     print("\r")

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

# Break and Continue statements

## Break Statement

In [98]:
# Break statement is used to stop the loop after certain condition is satisfied.

cars_list = ["Arrinera","Aston Martin","Bugatti","Ferrari","Hennessey","Koenigsegg"]
for car in cars_list:
    print(car)
    if car == "Bugatti":
        print("This is Bugatti")
        break

Arrinera
Aston Martin
Bugatti
This is Bugatti

In [107]:
# Continue statement skips the iteration when certain condition is satisfied.

cars_list = ["Arrinera","Aston Martin","Bugatti","Ferrari","Hennessey","Koenigsegg"]
for car in cars_list:
    if car == "Bugatti":
        continue
    print(car)

Arrinera
Aston Martin
Ferrari
Hennessey
Koenigsegg