## Tuples

In [1]:
# tuple is defined by

t = ()
type(t)

tuple

In [2]:
#example of tuple

t_1 = (21,-21,21.11,"Aman",False, 2+3j)
type(t_1)

tuple

In [4]:
# We can similarly do for list

l_1 = [21,-21,21.11,"Aman",False, 2+3j]
type(l_1)

list

In [7]:
# extraction from tuple : Similar like string and list

print(t_1)
print(t_1[0])
print(t_1[5])

(21, -21, 21.11, 'Aman', False, (2+3j))
21
(2+3j)

In [21]:
# Sliced operation in tuple : Similar like string and list

print(t_1[:4])
print(t_1[4:])
print(t_1[1:3])
print(t_1[-1])
print(t_1[-2:-1])
print(t_1[1::-1])
print(t_1[-4::-1])
print(t_1[-4::1])
print(t_1[-4::2])

(21, -21, 21.11, 'Aman')
(False, (2+3j))
(-21, 21.11)
(2+3j)
(False,)
(-21, 21)
(21.11, -21, 21)
(21.11, 'Aman', False, (2+3j))
(21.11, False)

In [15]:
# reversing tuple with sliced operation
print(t_1[::-1])

((2+3j), False, 'Aman', 21.11, -21, 21)

In [22]:
#tuple is immutable
t_1[5]= 3-2j

TypeError: 'tuple' object does not support item assignment

In [23]:
type(t_1[5])

complex

In [ ]:
# inbuilt functions for tuples

In [26]:
t_1.count("Aman")

1

In [28]:
t_1.index("Aman")

3

In [ ]:
# Iteration through tuple is possible as in list and string

In [29]:
t_1

(21, -21, 21.11, 'Aman', False, (2+3j))

In [30]:
for i in t_1:
    print(i)

21
-21
21.11
Aman
False
(2+3j)

In [42]:
# Reversing tupple using loop and converting it as list.
l_2 = []
for i in t_1:
    #print(t_1.index(i) , "=", i)
    l_2.append(t_1[5 - t_1.index(i)])
print(l_2)

[(2+3j), False, 'Aman', 21.11, -21, 21]

TypeError: '>' not supported between instances of 'str' and 'float'

In [ ]:
# nested tuple

In [45]:
t_2 = (1,2,3,4)
t_3 = (5,6,7,8,9)
t_4 = (t_2,t_3)
t_4

((1, 2, 3, 4), (5, 6, 7, 8, 9))

In [ ]:
# Nesting of tuples inside list and list inside tuple is also possible.

In [46]:
# deleting tuple

del t_4

In [47]:
t_4

NameError: name 't_4' is not defined

In [48]:
len(t_3)

5

## Sets

### It is type of collection as list, tuple

In [50]:
# list is defined by {}
S = {}
type(S)

dict

In [49]:
S_1 = {"Aman","Vishwakarma",21,21.11,7-3j,False}
S_1

{(7-3j), 21, 21.11, 'Aman', False, 'Vishwakarma'}

In [51]:
type(S_1)

set

In [53]:
# set has distinct object
S_2 = {"Aman","Vishwakarma",21,21.11,7-3j,False,21}
S_2

{(7-3j), 21, 21.11, 'Aman', False, 'Vishwakarma'}

In [56]:
# Indexing in SET is not allowed

S_2[2] = 32

TypeError: 'set' object does not support item assignment

In [58]:
# SET is not immutable as tuple and string

print(S_2)
S_2[1] = "Vijay"

{False, 'Aman', 21.11, 21, 'Vishwakarma', (7-3j)}

TypeError: 'set' object does not support item assignment

In [59]:
len(S_2)

6

In [60]:
max(S_2)

TypeError: '>' not supported between instances of 'str' and 'bool'

In [61]:
# Iterating through SETS is possible
for i in S_2:
    print(i)

False
Aman
21.11
21
Vishwakarma
(7-3j)

In [63]:
# fucntions in SET

S_2.add("Vijay")
print(S_2)

{False, 'Aman', 21.11, 21, 'Vishwakarma', 'Vijay', (7-3j)}

In [65]:
S_2.clear()
print(S_2)

set()

In [70]:
# Conversion of sets to list

list(S_1)

[False, 'Aman', 21.11, 21, 'Vishwakarma', (7-3j)]

In [71]:
# Conversion of sets to tuple

tuple(S_1)

(False, 'Aman', 21.11, 21, 'Vishwakarma', (7-3j))

In [ ]:
# nesting of list inside set is not allowed
# nesting of tuple inside set is possible

In [ ]:
# Functions in set

In [72]:
print(S_1)

{False, 'Aman', 21.11, 21, 'Vishwakarma', (7-3j)}

In [75]:
S_1.add("Ajay")
print(S_1)

{False, 'Ajay', 'Aman', 21.11, 21, 'Vishwakarma', (7-3j)}

In [77]:
S_1.pop()

False

In [80]:
Set_1 = {1,23,4,5,4,5,2,7}
Set_2 = {5,4,3,7,34,6,7443,34,3}
print(Set_1.difference(S_2))           # Set_A - Set_B
print(Set_2.difference(S_1))           # Set_B - Set_A
print(Set_1.intersection(S_2))
print(Set_2.)

{1, 2, 4, 5, 23, 7}
{34, 3, 4, 5, 6, 7, 7443}
set()

## Dictionary

In [81]:
d = {}
type(d)

dict

In [ ]:
## in dictionary we work with key and value pair as like in real dictionary word and its meaning.

In [85]:
## Example of dictionary

D_1 = {"Name":"Aman" , "Surname":"Vishwakarma" , "Email-Id":"amansharma@gmail.com" , 'Number':1234567890}
## so it is a key:value pairs 

type(D_1)

dict

In [86]:
print(D_1)

{'Name': 'Aman', 'Surname': 'Vishwakarma', 'Email-Id': 'amansharma@gmail.com', 'Number': 1234567890}

In [96]:
D2 = {"Name":"Rohan" , "Surname":"Chauhan" , "Email-Id":"rohanchauhan@gmail.com" , 'Number':1231231231}

In [97]:
print(D_1)
print(D2)

{'Name': 'Aman', 'Surname': 'Vishwakarma', 'Email-Id': 'amansharma@gmail.com', 'Number': 1234567890}
{'Name': 'Rohan', 'Surname': 'Chauhan', 'Email-Id': 'rohanchauhan@gmail.com', 'Number': 1231231231}

In [ ]:
## Key should be uniqe in dictionary
## Key can be string or numeric value or boolean value but key cannot be special character.
## Key can be tuple but not be a list
## Key cannot be set
## Key cannot be dictionary

In [ ]:
## Value as a list is allowed
## Value as a tuple is allowed
## Value as a set is allowed
## Value as a dictionary is allowed which is called as nested dictionary

In [100]:
## Example

dic_1 = {"pure_maths":["Real Analysis","Group Theory","Linear Algebra","Differential Calculus"] , "applied_maths":("M.I","O.D.E","P.D.E","V.C") , "books_name":{"S.K Mappa","J.A Gallian","Thomas calculus","Friedberg"} , ("fav_sub","not_fav_sub"):{"fav_sub":"Linear Algebra","not_fav_sub":"Group Theory"} }
dic_1

{'pure_maths': ['Real Analysis',
  'Group Theory',
  'Linear Algebra',
  'Differential Calculus'],
 'applied_maths': ('M.I', 'O.D.E', 'P.D.E', 'V.C'),
 'books_name': {'Friedberg', 'J.A Gallian', 'S.K Mappa', 'Thomas calculus'},
 ('fav_sub', 'not_fav_sub'): {'fav_sub': 'Linear Algebra',
  'not_fav_sub': 'Group Theory'}}

In [102]:
## Adding new members in dictionary

In [103]:
dic_1["1729","1.68"] = ("Ramanujan Number","Golden Number")

In [104]:
dic_1

{'pure_maths': ['Real Analysis',
  'Group Theory',
  'Linear Algebra',
  'Differential Calculus'],
 'applied_maths': ('M.I', 'O.D.E', 'P.D.E', 'V.C'),
 'books_name': {'Friedberg', 'J.A Gallian', 'S.K Mappa', 'Thomas calculus'},
 ('fav_sub', 'not_fav_sub'): {'fav_sub': 'Linear Algebra',
  'not_fav_sub': 'Group Theory'},
 ('1729', '1.68'): ('Ramanujan Number', 'Golden Number')}

In [ ]:
## locating members of dictionay is done throug key name as it is done is list through indexing

In [105]:
dic_1["pure_maths"]

['Real Analysis', 'Group Theory', 'Linear Algebra', 'Differential Calculus']

In [106]:
type(dic_1["pure_maths"])

list

In [107]:
dic_1[('fav_sub', 'not_fav_sub')]['fav_sub']

'Linear Algebra'

In [ ]:
## Extracting all the keys in dictionary

In [108]:
dic_1.keys()

dict_keys(['pure_maths', 'applied_maths', 'books_name', ('fav_sub', 'not_fav_sub'), ('1729', '1.68')])

In [ ]:
## Extracting all the values in dictionary

In [109]:
dic_1.values()

dict_values([['Real Analysis', 'Group Theory', 'Linear Algebra', 'Differential Calculus'], ('M.I', 'O.D.E', 'P.D.E', 'V.C'), {'Friedberg', 'J.A Gallian', 'Thomas calculus', 'S.K Mappa'}, {'fav_sub': 'Linear Algebra', 'not_fav_sub': 'Group Theory'}, ('Ramanujan Number', 'Golden Number')])

In [ ]:
## conversion to list

In [114]:
list(dic_1.values())

[['Real Analysis', 'Group Theory', 'Linear Algebra', 'Differential Calculus'],
 ('M.I', 'O.D.E', 'P.D.E', 'V.C'),
 {'Friedberg', 'J.A Gallian', 'S.K Mappa', 'Thomas calculus'},
 {'fav_sub': 'Linear Algebra', 'not_fav_sub': 'Group Theory'},
 ('Ramanujan Number', 'Golden Number')]

In [ ]:
## conversion of entire dictionary to list

list(dic_1.items())

In [ ]:
## If we use copy() fucntion it will do deep copy that is copied item is alloted to a different memory location and change in copied one does not affect to original and vice versa.
## If we copied as dic_1 = dic_2 it is swallow cpying and change in one let change in another to as it replaced to same memory location.

### Dictionary Comprehension

In [117]:
## Example_1

{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [119]:
## Example_2
import math
{i : math.log(i) for i in range(1,11)}

{1: 0.0,
 2: 0.6931471805599453,
 3: 1.0986122886681098,
 4: 1.3862943611198906,
 5: 1.6094379124341003,
 6: 1.791759469228055,
 7: 1.9459101490553132,
 8: 2.0794415416798357,
 9: 2.1972245773362196,
 10: 2.302585092994046}