# Functions

In [ ]:
def f_1():    # def is use to define function or to  make function.
    pass      # f_1 is name of function
              # while defining a function name () is necessar

In [5]:
def f_2():
    print("Hello robots")
f_2()

Hello robots

In [6]:
# we can call functions by its name

f_2()

Hello robots

In [1]:
def square_pattern():
    size = int(input("Enter the size"))
    
    i=0
    while i < size:
        
        j=0
        while j < size:
            
            print("*" , end = " ")
            j = j + 1
        print(" ")
        i = i + 1
square_pattern()

Enter the size 4

* * * *
* * * *
* * * *
* * * *

In [7]:
f_2() + "Whats new updat"

# Here the concatenation does not worked becuse return type print() in f_2() function is none type by default and we try to concactinate it with string type.

Hello robots

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [14]:
# to overcome above problem we use return

def f_3():
    return "Hello Robots"

f_3() + " Whats new update"

'Hello Robots Whats new update'

In [20]:
# fuction with parameters
def f_4(a,b):
    c = (a + b)
    return c

f_4(5,6)

11

In [22]:
f_4("Aman"," Vishwakarma")

'Aman Vishwakarma'

In [23]:
f_4([12,34,3,5,5,45,454],[9,7,6756,6,687,86,4])

[12, 34, 3, 5, 5, 45, 454, 9, 7, 6756, 6, 687, 86, 4]

In [24]:
# create a function that extrct only int value from list

l = [1,2,4,5,6,3,"Aman",True,False,3.5453,43,523]
l

[1, 2, 4, 5, 6, 3, 'Aman', True, False, 3.5453, 43, 523]

In [51]:
def extract_int():
    int_list = []
    for i in l:
        if type(i)==int:
            
            int_list.append(i)
    return int_list
extract_int()

[1, 2, 4, 5, 6, 3, 43, 523]

In [3]:
# only 2 arguments i.e only 3 data can be operated with this fucntion
def f_5(a,b,c):
    pass

f_5(1,3,4,4)

TypeError: f_5() takes 3 positional arguments but 4 were given

In [5]:
# any number of argument can be operated,

def f_6(*args):
    return args

f_6(12,1434,43,3,5,5,2)

(12, 1434, 43, 3, 5, 5, 2)

In [6]:
## Example (return list)

def f_7(*args):
    l = []
    for i in args:
        if type(i) == list:
            l.append(i)
    return l
        
f_7(1,3,4,5,5,6,[1,35,6,6,235,3],("a",3,4,'an'),[6,'aman'])

[[1, 35, 6, 6, 235, 3], [6, 'aman']]

In [9]:
## Example (return tuple)

def f_8(*args):
    lst_01 = []
    for i in args:
        if type(i) == tuple:
            lst_02 = list(i)
            lst_01.append(lst_02)
    return tuple(lst_01)

f_8(1,3,4,5,5,6,[1,35,6,6,235,3],("a",3,4,'an'),[6,'aman'])

(['a', 3, 4, 'an'],)

In [10]:
## Example for key value as argument

def f_9(**kvargs):      # kvargs is key value arguments
    return kvargs

f_9(a=1,b=2,c=5,d=["Aman", "is", "Data Scientist"])

{'a': 1, 'b': 2, 'c': 5, 'd': ['Aman', 'is', 'Data Scientist']}

In [12]:
## Example n numbers of arguments with n number of key value pair

def f_10(*args,**kyargs):
    return args,kyargs

f_10(1,3,4324,54,232,452,a="aman",b="vishwakarma")

((1, 3, 4324, 54, 232, 452), {'a': 'aman', 'b': 'vishwakarma'})

# Generator Functions

In [ ]:
## range() function is example of generator function

In [ ]:
## we can create generator function using yield

In [20]:
def fib_generator(n):
    a,b = 0 , 1
    for i in range(n):
        yield a
        a,b = b,a+b

fib_generator(10)

In [21]:
for i in fib_generator(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

# Lambda Function

In [ ]:
## We can create a function which gives power as...

In [2]:
def power(m,n):
    pow = m**n
    return pow

power(5,6)

15625

In [ ]:
## There is another way of doing this... 
## i.e lambda function or anonymous function ...

In [9]:
pow = lambda m,n:m**n

pow(12,10)

61917364224

In [ ]:
## not only power we can create any arithmetic operation using lambda function

In [10]:
add = lambda m,n:m+n

add(12,10)

22

In [11]:
num_to_percentage = lambda num,per:(per/100)*num

num_to_percentage(500,50)

250.0

In [14]:
max_num = lambda num_1,num_2 : num_1 if num_1 > num_2 else num_2

max_num(453,45345)

45345

# Map, Reduce, Filter function

In [4]:
# function that returns square of numbers in list

def sqr(l):
    sqr_lst = []
    for i in l:
        sqr_lst.append(i**2)
    return sqr_lst

sqr([1,2,3,4,5,6,7,8,9,10])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# We can do this using short hand function map.

In [11]:
l = [34,34,656,34,656,76,765,6]
def map_sqr(num):
    return num**2

map(map_sqr,l)

In [15]:
print(tuple(map(map_sqr,l)))
print(set(map(map_sqr,l)))
print(list(map(map_sqr,l)))

(1156, 1156, 430336, 1156, 430336, 5776, 585225, 36)
{430336, 1156, 36, 585225, 5776}
[1156, 1156, 430336, 1156, 430336, 5776, 585225, 36]

In [16]:
## lambda and map function

list(map(lambda i: i**2,l))

[1156, 1156, 430336, 1156, 430336, 5776, 585225, 36]

In [26]:
l_1 = [1,2,3,4,5,6]
l_2 = [1,2,3,4,5,6]
sum_ = []
for i in range(len(l_1)):
    sum_.append(l_1[i]+l_2[i])
print(sum_)

[2, 4, 6, 8, 10, 12]

In [30]:
list(map(lambda x,y : x+y , l_1,l_2))

[2, 4, 6, 8, 10, 12]

In [ ]:
# if we want sum of all numbers in list.

In [31]:
# method 1
lst = [345,56,5767,87,897,5,43,56,76]
sum([345,56,5767,87,897,5,43,56,76])

7332

In [42]:
# method 2
add = 0
for i in range(len(lst)):
    add = add+ lst[i]
add

7332

In [ ]:
# method 3 (reduce() function)
## we need to import the reduce() function

In [43]:
from functools import reduce

reduce(lambda x,y : x+y, lst)

7332

In [45]:
reduce(lambda x,y : x if x>y else y , lst)

5767

In [49]:
list(filter(lambda x: x%2 == 0 , lst))

[56, 56, 76]